body,html{
  width: 100%;
}
/* HEADER SECTION */
header{
  display: flex;
  width: 100%;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  padding: 20px 40px;
}
header h1{
  color: white;
}
header img{
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

/* FORM SECTION */
.container{
  width: 80%;
  margin: 60px auto;
  text-align: center;
}
#top-text{
  width: 40%;
  margin-right: 8.5%;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 8px;
  border: gray solid 1px;
  font-size: 16px;
  padding: 0 5px;

}
#bottom-text{
  width: 40%;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 8px;
  border: gray solid 1px;
  font-size: 16px;
  padding: 0 5px;
}
.space{
  width: 10%;
}
button{
  width: 90%;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  border: 0px;
  border-radius: 5px;
  margin-top: 20px;
}